In [1]:
import pandas as pd

In [2]:
# read reviews file
with open('test.ft.txt', 'r', encoding="utf8") as f:
    contents = f.readlines()

In [3]:
# create a blank reviews dictionary
reviews = {
    'review': [],
    'label': [],
}

# iterate over contents and push them in the reviews dictionary
for content in contents:
    label = reviews['label'].append(content[0:10])
    review = reviews['review'].append(content[11:-1])
    
# create dataframe from reviews dictionary 
dataframe = pd.DataFrame(reviews)

# convert labels from text to number
dataframe['label'] = dataframe['label'].apply(lambda label: 0 if label == '__label__1' else 1)

In [4]:
dataframe.to_csv('Amazon_Reviews_All.csv', index=False)

In [5]:
# count positive and negative labels
dataframe['label'].value_counts()

1    200000
0    200000
Name: label, dtype: int64

In [6]:
positive = dataframe[dataframe['label'] == 1].iloc[0:7500]

In [7]:
negative = dataframe[dataframe['label'] == 0].iloc[0:7500]

In [8]:
final = positive.append(negative)

In [9]:
# randomize the dataset
final = final.sample(frac=1)

# save to file
final.to_csv('Amazon_Reviews.csv', index=False)

In [10]:
positive

                                                  review  label
0      Great CD: My lovely Pat has one of the GREAT v...      1
1      One of the best game music soundtracks - for a...      1
3      works fine, but Maha Energy is better: Check o...      1
4      Great for the non-audiophile: Reviewed quite a...      1
8      Unique Weird Orientalia from the 1930's: Exoti...      1
...                                                  ...    ...
14772  SOUTH OF THE BORDER SOUNDS: I AM BY NO MEANS A...      1
14773  Not the usually R. Kelly, but still pretty goo...      1
14777  first and best: One of the best Tom Berenger m...      1
14778  This was the GREATEST movie I have ever seen.:...      1
14779  Excellent shoes!: I've been searching everywhe...      1

[7500 rows x 2 columns]

In [11]:
negative

                                                  review  label
2      Batteries died within a year ...: I bought thi...      0
5      DVD Player crapped out after one year: I also ...      0
6      Incorrect Disc: I love the style of this, but ...      0
7      DVD menu select problems: I cannot scroll thro...      0
9      Not an "ultimate guide": Firstly,I enjoyed the...      0
...                                                  ...    ...
15201  Franklin's Magic Christmas: Bah! Humbug! Sure ...      0
15206  Waste of time: This book is filled with curses...      0
15208  What to use this line for?: As a level fly lin...      0
15210  really surprised by the praise of all fans: Th...      0
15217  Several problems with this crib: Although it w...      0

[7500 rows x 2 columns]

In [12]:
final

                                                  review  label
13613  Briefing on Phiten Titanium Necklace: Well... ...      1
7689   One of the worst films I&#65533;ve ever seen: ...      0
7100   I HATE WANNABES!!!!!: i absulootly h@ wanabes ...      0
5386   Comments on Crowd Madness: Was disappointed th...      0
6125   Old and Tired: This short story isn't worth th...      0
...                                                  ...    ...
4028   Not the Coverage it Claims to Give: I purchase...      0
12430  Perfect fit with my Vibram Bikila LS shoes: I ...      1
1740   Effortless and Misleading: When I bought this ...      0
11465  traumatic.: having developed a love for histor...      1
13370  "Whisper His Name" is not up to Thornton's oth...      0

[15000 rows x 2 columns]